<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    
    <requiredRuntime version="v4.0.20506"/>
  <supportedRuntime version="v2.0.50727" sku="Client"/></startup>
  <connectionStrings>
    <add name="MonitorEntities" connectionString="metadata=res://*/TestModel.csdl|res://*/TestModel.ssdl|res://*/TestModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=db1corp;initial catalog=Monitor;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>
